<!DOCTYPE html>
<html>
  <head>
    <title>TestGuru</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'shared/flash' %>
    <%= render 'shared/navigation' %>

    <%= yield %>
    
    <footer class='footer'>
      <%= current_year %>
      | <%= link_to 'Maksim R', 
        github_url('Rukomoynikov', 'thinknetica-testguru'), 
        target: :blank %>
      | <%= link_to 'TestGuru',
        'https://github.com/Rukomoynikov/thinknetica-testguru',
        target: :blank  %>
      | <%= link_to 'Учебный проект в онлайн-школе Thinknetica', 
        'https://thinknetica.com',
        target: :blank  %>
    </footer>
  </body>
</html>
